header nav {
    text-align: center;
    font-size: 80px;
}
header nav a {
    margin: 50px;
}
.ipad{
    padding: 40px;
}
.phone{
    padding: 40px;
}
.logo {
    height: 170px;
    width: 170px;
}


#hero-image
{
    width: -webkit-fill-available;
    justify-content: center;
   
}
a{
    font-size: 20px;
}

#search-svg{
    height: 25px;
}

.product-img {
    width: -webkit-fill-available;
}
.contact-form {
    height: 400px;    
}
#team{
    height: 100px;
}
.flavours object 
{
margin: 50px;
height: 150px;
width: 150px;    
}