header nav {
    text-align: center;
    font-size: 80px;
}
header nav a {
    margin: 50px;
}
.logo {
    height: 170px;
    width: 170px;
}


#hero-image
{
    width: -webkit-fill-available;
    justify-content: center;
   
}
a{
    font-size: 25px;
}
#search-svg{
    height: 25px;
}

.product-img {
    width: -webkit-fill-available;
}
.contact-form {
    height: 400px;    
}